/* https://akilar.top/posts/eb030e5a/ */
@font-face{
    font-family: 'SAOUI';
    src: url('../fonts/SAOUI.ttf');
    font-display: swap;
}

* {
    font-family: 'SAOUI';
    color: rgba(60,60,61,1) !important;
}

body {
    background:  rgba(255, 255, 255, 0.9);
}

.aha {
    width: 200px;
}