<!doctype html>
<html>

<head>
    <title> Aha's talks </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NHTTF0HWP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-6NHTTF0HWP');
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src='js/talks.js'></script>
</head>

<body>
    <div class="container" id="talks">
        <template v-for="list in lists">
            <h4> {{ list.year }} </h4>
            <div v-for="item in list.talks">
                <p v-if='!item.talk_link'>{{ item.date }} @ {{ item.place }} - {{ item.title }}</p>
                <p v-if='item.talk_link'>{{ item.date }} @ {{ item.place }} - <a :href="item.talk_link">{{ item.title }}</a></p>
                <p v-if='item.description'>{{ item.description }}</p>
            </div>
        </template>        
        <h4>2017</h4>
        <div>
            <p>20171111 @ <a href="https://datasci.tw/speakers/?conf=AI#aha">台灣資料科學愛好者年會 2017</a> - <a
                    href="https://docs.google.com/presentation/d/1WVS4z-A8IopHLnUDeLYSqZIH8Hdh8XQZ/edit?usp=sharing&ouid=101904618895993667546&rtpof=true&sd=true">Data
                    and AI @ E.SUN bank</a></p>
            <p>根據玉山資料處理流程與業務應用經驗，分享實務故事與未來玉山 AI 發展應用的可能方向。</p>
        </div>
        <div>
            <p>20171020 @ 交通大學 - <a
                    href="https://www.dropbox.com/s/1wrd1jwbmfp4n5y/%E6%95%B8%E4%BD%8D%E9%87%91%E8%9E%8D%20for%20%E4%BA%A4%E5%A4%A7%E8%B3%87%E5%B7%A5%20v1.1.pptx?dl=0">數位金融
                    FinTech 浪潮</a></p>
        </div>
        <div>
            <p>20170610 @ <a href="https://tw.pycon.org/2017/en-us/">Pycon.TW</a> - <a
                    href="https://drive.google.com/file/d/0B8hlay_yY5e7QTE0U3JDUXloeXM/view?usp=sharing&resourcekey=0-tQM2BSxBd_QTpWjQsavULQ">Chatbot
                    @ E.Sun Bank – 玉山小i 隨身金融顧問的兩三事</a></p>
            <p>在這個演講中，將介紹在銀行之中，如何將一個全新概念，透過 Python 開門引路，最後成為企業內新服務、新通路的系統，這段企業內創新之路的介紹，相信對於許多想要透過 Python
                開創自己的產品或企業內創新的同好，會是一個很好的故事。</p>
        </div>
        <h4>2016</h4>
        <div>
            <p>20160425 - <a
                    href="https://www.dropbox.com/s/8vpiiemy1ps2wr6/20160425_%E8%B3%87%E6%96%99%E7%A7%91%E5%AD%B8_%E9%89%A6%E8%82%B2.pptx?dl=0">數據與生活</a></a>
            </p>
        </div>
        <h4>2015</h4>
        <div>
            <p>20150820 @ <a href="https://datasci.tw/2015/agenda.php#!tab2">台灣資料科學愛好者年會 2015 </a> - R 資料前處理</p>
        </div>
        <h4>2014</h4>
        <div>
            <p>20140728 @ MLDM Monday - <a href="https://www.youtube.com/watch?v=4lUpYrxx6uQ">R ETL part 3 by Aha&嘉葳</a>
            </p>
        </div>
        <div>
            <p>20140725 @ UDN - 資訊圖表結業作業指導</p>
        </div>
        <div>
            <p>20140217 @ MLDM Monday - <a href="https://www.youtube.com/watch?v=h6bGezvduHA">Open data 的 ETL 流程與
                    Visualization 的例子</a></p>
        </div>
        <h4>2012</h4>
        <div>
            <p>20121119 @ MLDM Monday - <a href="https://www.youtube.com/watch?v=H8LTMH8yAiQ">Talk 1-1 (Kriging
                    Interpolation 的原理及應用)</a></p>
        </div>

        <div>
            <p>20120412 @ 台北市政府 - <a href="https://www.dropbox.com/s/0itfkttz6xj8ny9/PLASH-review-LJ.ppt?dl=0">PLASH</a>
            </p>
        </div>

        <div>
            <H3> Chatbot and Conversational AI</H3>
            <div>
                <p>20150120 - <a
                        href="https://docs.google.com/presentation/d/1k0cdzyZjJJvgwj2E5kkS6oMuFtyr6k6pMbjWGVodZZo/edit?usp=sharing">AI
                        is better than UI</a></p>
                <p>20141231 - <a
                        href="https://docs.google.com/presentation/d/0BxEplIEPKoHfamZ0YU9yOFNvRThrNGR6MWdESnVZcTdVUm5F/edit?usp=sharing&ouid=101904618895993667546&resourcekey=0-n3A7fNoZkqnrrP5AvNmtWQ&rtpof=true&sd=true">簡易的架構圖</a>
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
</body>

</html>